.watch-anywhere {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2vw 5.6vw;

    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

}